* {
    font-family: 'Oxygen', sans-serif;
    line-height: 1.6;
  }

p {
	margin-bottom: 1.2em;
    width: 95%;
}

h1 {
    font-weight: 900;
    margin-bottom: 10px; /* Reduce space after title */
}

h2 {
    margin-top: 0px; /* Reduce space above h2 */
    margin-bottom: 10px; /* Small space between h2 and italic */
}

i {
    display: block;
    margin-bottom: 10px; /* Increase space after italic text */
}

body {
    background-color: lightgray;
}

.page {
    width: 900px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.pure-g {
    margin-bottom: 40px;
}

/* Add this to reduce space between title and visualizations */
.pure-g:first-of-type {
    margin-bottom: 10px;
}

/* Force proper grid layout */
.pure-u-1-2 {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.map .pure-u-1-2:last-child {
    padding-left: 200px;
}