p {
	line-height: 1.6;
	margin-bottom: 1.2em;
}

body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
    margin-bottom: 10px; /* Reduce space after title */
}

h2 {
    margin-top: 0px; /* Reduce space above h2 */
    margin-bottom: 5px; /* Small space between h2 and italic */
}

i {
    display: block;
    margin-bottom: 25px; /* Increase space after italic text */
}

body {
    background-color: lightgray;
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.pure-g {
    margin-bottom: 20px;
}

/* Add this to reduce space between title and visualizations */
.pure-g:first-of-type {
    margin-bottom: 10px;
}